﻿@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete this?</h3>
<h4>Student</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.FirstMidName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FirstMidName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.EnrollmentDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EnrollmentDate)
    </dd>
</dl>


<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Delete" class="btn btn-default" /> |
    <a asp-action="Index">Back to List</a>
</form>
</div>
